body{
    background-image: url('https://wallpapers.com/images/hd/blue-and-red-background-1920-x-1200-8cicllve6ikzjm0j.jpg');
    background-size: cover;
}   
nav{
    border: solid rebeccapurple;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}
nav button{
    height: 8vh;
    width: 10vw;
    background-color: black;
    border: none;
    color: white;
    border-radius: 33px;
    text-align: center;
    cursor: pointer;
}
nav button:hover{
    zoom: 105%;
    background-color: rgb(0, 255, 51);
    color: black;
    border: solid black;

}
.clear:hover{
    background-color: red;
    color: white;

}


.MainPage{
    /* border: solid black; */
    height: 90vh;
    overflow: auto;
}
.MainPage::-webkit-scrollbar{
    width: 0;
}
.postFram{
    border: solid black;
    /* height: 300px; */
    width: 300px;
    margin: auto;
    position: relative;
    margin-top: 1vh;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;

}
.PostImge{
    /* position: absolute; */
    width: 100%;
    border-radius: 15px;
}
.reaction{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* border: solid rgb(0, 255, 94); */
    /* position: absolute; */
}
.reaction button{
    background-color: rgba(255, 255, 255, 0);
    /* border: none; */
}
.reaction img{
    height: 100%;
    cursor: pointer;
}
