
nav{
    border: solid rebeccapurple;
    height: 10vh;
}
.MainPage{
    border: solid black;
    height: 80vh;
    overflow: auto;
}
.MainPage::-webkit-scrollbar{
    width: 0;
}
.postFram{
    border: solid salmon;
    height: 300px;
    width: 300px;
    margin: auto;
}
.reaction{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: solid rgb(0, 255, 94);
    /* margin: 10em; */
}
.reaction img{
    height: 100%;
}
